altgraph==0.17
appdirs==1.4.4
APScheduler==3.6.3
audioplayer==0.6
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
colorama==0.4.3
comtypes==1.1.7
console-progressbar==1.1.2
cryptography==3.4.4
distlib==0.3.1
filelock==3.0.12
future==0.18.2
fuzzywuzzy==0.18.0
geojson==2.5.0
idna==2.10
keyboard==0.13.5
pefile==2019.4.18
pipenv==2020.11.15
progressbar==2.5
pycparser==2.20
pygame==2.0.0
pyglet==1.5.11
PyInstaller==3.6
pyow==0.0.4
pyowm==3.0.0
pypiwin32==223
PyQt5-sip==12.8.1
PySocks==1.7.1
pyTelegramBotAPI==3.7.6
python-dateutil==2.8.1
python-telegram-bot==13.2
pyttsx3==2.90
pytz==2021.1
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
six==1.14.0
SpeechRecognition==3.8.1
threaded==4.1.0
tornado==6.1
tzlocal==2.1
urllib3==1.25.10
virtualenv==20.4.2
virtualenv-clone==0.5.4
